body {
    font-family:Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient( #54a0ff,#2e86de);
    align-content: center;
    display: flex;
    justify-content: center;  
}

h1 {
    padding-top: 20px;
    color: #FFFAFA;
    font-size: 38px;
    font-weight: bold;
    text-shadow: 3px 3px 3px #222f3e;
}

#search {
    padding-top: 20px;
    color: #54a0ff;
    font-weight: bold;   
}

h3 {
    display: flex;
    align-content: center;
    color: #54a0ff;
    font-weight: bold;
    padding-bottom: 25px;
}
.colLeft {
    position: relative;
    right: 150px;
    padding-top: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.searchCity {
    padding-top: 10px;
    width: 150px;
    align-items: center;
    justify-content: center;
    
       
}

#currentCity {
    color: #222f3e;
}

.searchBtn {
    display: inherit;
    justify-content: center; 
    background-color: #2e86de;
    width: 100px;
    height: 25px;
    color: snow;  
    font-weight: bold; 
}

#currentWeather {
    
    width: auto;
    height: auto;
    color:#222f3e;
    font-weight: bold;
    font-size: large;
    justify-content: center;
    align-items: center;    
}

#weekly-forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.card {
    width: 200px;
    border: solid #222f3e;
    border-radius:15px;
    align-content: center;
    align-items: center;
    font-weight: bold;
}

#displayIcon {
    background-color:#87CEEB;
    width: auto;
    height: auto;
}

#uvIndex {
    color: white;
}

img {
    background-color:#87CEEB;
}

@media only screen and (max-width: 600px) {
    body {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow-wrap: normal;
    }

    #classRow {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        overflow: auto;
    }

    #weekly-forecast-container {
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        overflow: auto;
    }
}